*{
  
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /*Habilitar un comportamiento de desplazamiento suave*/
}

/* Body Styles */

/*minimizar imagen del body*/
body{ /*Establece la imagen de fondo*/
  background-color: rgb(153, 218, 172);
  background-size:cover; /*Establece el tamaño de la imagen de fondo*/
  font-family: Helvetica; /*Establece la fuente del texto*/
  width: 100%;
  height: 100%;
} 

/* Header Styles */
header{
  background-image: url("../img/wallpaper14.jpg");
  display: flex; /*Establece un contenedor flexible*/
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; /*Establece la pila de elementos*/
  background-color: rgb(0, 0, 0); /*Color de fondo*/
}

section{
  background: solid rgb(0, 0, 0);
  background-size: cover;
  color: rgb(0, 0, 0);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}


.cta-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(102deg,rgb(249, 86, 4), rgb(255, 0, 0)); /*Color de fondo*/
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  width: 230px;  
  text-decoration: none;
  animation: pulse 0.3s infinite; /*Animación*/
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold; /*Establece el grosor de la fuente*/
}

.cta-button-container {
display: flex; /*Establece un contenedor flexible*/
justify-content: center; /*Alinea el contenido del contenedor flexible en el centro*/
margin-top: 20px; 
}

.imagen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  
}

.imagen-1{
view-timeline: --imagen1; 
view-timeline-axis: block; 
animation-timeline: --imagen1;
animation-name: show; /*Nombre de la animación*/
animation-range: entry 25% cover 50%;
animation-fill-mode: both;
margin-right: 70px;
width: 300px;
border-radius: 80px;
}

.h1{ /*Estilo de la etiqueta h1*/
  margin: left;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{ /*Estilo de la clase logo*/
  cursor: pointer;
  display: flex; 
  flex-direction: row; /*Establece la dirección de los elementos flexibles*/
  align-items: center; /*Alinea los elementos flexibles en el centro*/
  width: 50%;
  margin: 32px;
}

.logo span{ /*Estilo de la etiqueta span*/ /*donde se pone el nombre de la pagina*/
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: sans-serif; /*Establece la fuente del texto*/
  font-weight: bold; /*Establece el grosor de la fuente*/
  padding-left: 12px;
}

nav{ /*Estilo de la etiqueta nav*/
  width: 50%;
  margin: 32px;
  display: inline-flex; /*Establece un contenedor en línea flexible*/
  justify-content: space-around; 
}

nav a{ /*Estilo de la etiqueta a*/
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  
}

.home{ /*Estilo de la clase home*/
  text-align: center; 
  position: relative; 
  z-index: 1; 
  display: flex;
  flex-direction: column; /*Establece la dirección de los elementos flexibles*/
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondo.avif");
  background-size: cover; /*Establece el tamaño de la imagen de fondo*/
}

.home::after{ /*Estilo de la clase home after*/
  content: "";
  top: 0; /*Establece la parte superior de un borde*/
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute; 
  z-index: -1; 
  background: rgba(0, 0, 0,0.668);
}

.home h1{ /*Estilo de la etiqueta h1*/
  margin-top: 30vh;
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  color: white;
  text-transform: uppercase; /*Transforma el texto a mayúsculas*/
  text-shadow: 3px 3px black;
}

.home span{ /*Estilo de la etiqueta span*/ 
text-align: center;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 35px;
text-transform: capitalize; /*Transforma el texto en mayúsculas*/ 
text-shadow: 3px 3px black; /*Establece la sombra del texto*/
}

.actions{ /*Estilo de la clase actions*/
  display: block; /*Establece un contenedor de bloque*/
  margin: 0 auto;
  padding-top: 50px;
}

.actions button{ /*Estilo de la etiqueta button*/
  width: 200px;
  height: 50px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 15px;
}
/*seccion Acerca de nosotros*/

.about{
  display: block; /*Establece un contenedor de bloque*/
  margin: 0 auto;
  padding-top: 50px;
}

#about{ /*Estilo de la clase about*/
  display: flex; /*Establece un contenedor flexible*/
  flex-direction: column; /*Establece la dirección de los elementos flexibles*/
  justify-content: center; /*Alinea el contenido del contenedor flexible en el centro*/
  align-items: center; /*Alinea los elementos flexibles en el centro*/
  margin-top: 20px;
  width: 100%;
}

.about-container{ /*Estilo de la clase about-container*/
  background-color: rgb(255, 128, 0);
  display: flex; /*Establece un contenedor flexible*/
  flex-direction: row; /*Establece la dirección de los elementos flexibles*/
  justify-content: center; /*Alinea el contenido del contenedor flexible en el centro*/
  align-items: center; /*Alinea los elementos flexibles en el centro*/
  margin-top: 20px;
  width: 100%;
}



hr{ /*Estilo de la etiqueta hr*/
display: block; 
margin: 0 auto; 
width: 50px;
border: 2px solid #ff0000; 
border-radius: 2px; /*Establece el radio de las esquinas de un elemento*/

}

.service{
  background-color: rgb(255, 111, 67);
  display: block; /*Establece un contenedor de bloque*/
  margin: 0 auto;
  padding-top: 50px;

}

h2{
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 20px;

}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.card{

  text-align: center; 
  position: relative; 
  z-index: 1; 
  display: flex;
  flex-direction: column; /*Establece la dirección de los elementos flexibles*/
  width: 100%;
  height: 100vh;
  background-size: cover; 
}

.card::after{ /*Estilo de la clase card after*/
  content: "";
  top: 0; /*Establece la parte superior de un borde*/
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute; 
  z-index: -1; 
  background: rgba(0, 0, 0,0.668);
}

.card img{
  width: 300px;
  height: 200px;
  border-radius: 30%;
}

.service-container{
  background-color: rgb(161, 234, 245);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.service-card{
  scale: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.service-card img{
  width: 300px;
  height: 200px;
  border-radius: 30%;
}

.formulario{
  background-image: url("../img/wallpaper5.webp");
  background-size: cover;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.formulario::after{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: rgb(0, 0, 0);
}

.button-container{
/*centrar botones*/
  display: flex;
  justify-content: center;
  margin-top: 20px;

}


.button{
  background-color: #ff0000;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.button:hover{
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}


.button-2{
  background: linear-gradient(102deg,rgb(249, 86, 4), rgb(255, 0, 0));
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  
}

.button-2:hover{
  background-color: rgb(0, 42, 255);
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.contacto {
  background-color: solid violet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}


.social-icons {
  align-items: center; /* Alinea los elementos flexibles en el centro */
  margin-top: 20px; /* Ajusta según sea necesario */
  font-size: 65px; /* Establece el tamaño de la fuente */

}

.bx bxl-facebook-square {
  background: linear-gradient(102deg,rgb(14, 1, 247), rgb(255, 255, 255)); /* Establece el color de fondo */
  color: #3b5998; /* Establece el color de la fuente */

}

.bx bxl-twitter {
  color: #00acee; /* Establece el color de la fuente */
}

.bx bxl-instagram {
  color: #e4405f; /* Establece el color de la fuente */
}

.label {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Establece la fuente del texto */
  font-size: 20px; /* Establece el tamaño de la fuente */
  color: rgb(255, 252, 252); /* Establece el color de la fuente */
  margin-top: 20px; /* Ajusta según sea necesario */
}

.input {
  width: 300px; /* Establece el ancho del elemento */
  height: 40px; /* Establece la altura del elemento */
  margin-top: 10px; /* Ajusta según sea necesario */
  border-radius: 10px; /* Establece el radio de las esquinas del elemento */
  border: 2px solid rgb(0, 0, 0); /* Establece el borde del elemento */
  padding-left: 10px; /* Establece el relleno del elemento */
}


footer {
  /*establecer que se mantenga visiblr en la parte inferior de la pagina al hacer scroll*/
  position: fixed;
  bottom: 0;
  background-color: rgb(189, 189, 189); /* Establece el color de fondo */
  display: flex; /* Establece un contenedor flexible */
  flex-direction: column; /* Establece la dirección de los elementos flexibles */
  justify-content: center; /* Alinea el contenido del contenedor flexible en el centro */
  align-items: center; /* Alinea los elementos flexibles en el centro */
  margin-top: 70px; /* Ajusta según sea necesario */
  width: 100%; /* Establece el ancho del elemento */
}

/* Footer Styles */
@keyframes pulse{ /*Animación de la clase pulse*/
  
  0%{
    transform: scale(.99);
    box-shadow:0 0 0 0 rgba(256,256, 256, .1);
  }
}
@keyframes pulse{ /*Animación de la clase pulse*/
  70%{
    transform: scale(1); /*Establece una escala de transformación para un elemento*/
    box-shadow:0 0 0 25px rgba(256,256, 256,0); /*Establece la sombra de un elemento*/
  }
}
@keyframes pulse{ /*Animación de la clase pulse*/
  100%{
    transform: scale(.99);
    box-shadow:0 0 0 0 rgba(256,256, 256,0);
  }
}

/* Para dispositivos de pantalla grande */
@media only screen and (min-width: 601px) { /*Establece las reglas de estilo para los dispositivos de pantalla grande*/
  .button-container { /*Estilo de la clase button-container*/
      display: inline-block; /*Establece un contenedor en línea*/
  }
}

/* Para dispositivos de pantalla pequeña */ /*Establece las reglas de estilo para los dispositivos de pantalla pequeña*/
@media only screen and (max-width: 600px) { /*Establece las reglas de estilo para los dispositivos de pantalla pequeña*/
  .button-container {
      display: block;
  }
}

@keyframes show{ /*Animación de la clase show*/
  from{ /*Establece el estilo inicial de un elemento*/
    opacity: 0;
    scale: 25%;
  }
  to{ /*Establece el estilo final de un elemento*/
    opacity: 1;
    scale: 100%;
  }
}